
body{

    color: #40514e;
    text-align: center;
    margin: 0;
    

    
}
h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px;  auto 0 auto; 
    font-family: sacramento;

    
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width:5px;
    width: 5%;
}


.h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: normal;
    

    
    
}
h3{
    color:  #11999E;
}
h2 {
    color:#11999E ;
    text-align: center;
    padding-bottom: 50px;
    
    
}


.top-container{

    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
  
}
.pro{
    text-decoration: underline;
}
.profile{
    padding-top: 30px;

}
.topp{
    width: 50%;
    margin: auto;
    padding: 30px;

}

.middle-container{
    margin: 120px;
          
} 

.bottom-container { 
     background-color: #66BFBF;
     height: 80px; 
     padding: 30px;
     padding-bottom: 0;
      
  

}
.footer-link{
    padding: 20px;
    color: #11999E;
    text-decoration: none;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.footer-link:hover{
    color:white;
}
.footer-link:visited{
    color: black;
}
.eddy{
    background-color: #66bfbf;
}
.skills{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;   
}
.skills2{

    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;


}

.bottom{
    position: absolute ;
    left: 300px;
    
}
.top{
    position: absolute;
    right: 300px;
    top:20px;
}


.img{

    width:20%;
    border-radius: 30%;
    float: left;
    margin-right: 30px;
    padding: 15px;
}

.img1{
    width:12%;
    border-radius: 30%;

    
}
.img3{
    width:20%;
    border-radius: 30%;
    float: right;
    margin-left: 30px;
}
.eddy{
    font-size: x-small;
    color: #eaf6f6;

}
.mail{

        box-shadow: 3px -3px 0px 0px #11999e;
        background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        background-color:#79bbff;
        border-radius:8px;
        border:1px solid #79bbff;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:arial;
        font-size:20px;
        font-weight:bold;
        padding:12px 44px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
    }
    .mail:hover {
        background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        background-color:#378de5;
    }
    .mail:active {
        position:relative;
        top:1px;
    }
}
